$red: #BF0016;
$body: #FFF;

$navbar: #E6E6E6;
$textnavbar: #FFF;
$headerText: #FFF;

$pink: #d08081;
$yellow: #e8d88d;
$lightblue: #ade0d2;
$lightgray: #F8F8F8;
$green: #3bd3ba;

$columns: 12!default;
$gutter: 15px!default;
$container: 960px!default;
$suffixes: ( 0 : "s", 1 : "m", 2 : "l" );
$large: 1200px;
$medium: 992px;
$small: 768px;